* {
    margin: 0;
    padding: 0;
}

h1 {
    color: orange;
}

p {
    font-size: 20px;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #555;
}

span {
    background-color: yellowgreen;
}

img {
    border: 5px solid #555;
    box-shadow: 5 5 5 5 #fff;
}